FICHIER DE CONFIGURATION DE makef.cc

Rem : Le caractere _ remplace un espace.
     puis le caractere & est remplace par _
      Les donnees sont a mettre apres le signe egal.

repertoire contenant les autres fichiers .cc 
et les autres fichiers .h  
     = .


repertoire ou il y a makef.cc et liste.txt
      = .

option affichage du traitement en cours (verbose  0, 1 ou 2)
        = 0
		
option ecriture du code c++ des fichiers .h qui manquent
	   = 0
	   
option ecriture du code c++ pour fenetre de commandes gui
	    = 1

	

-lgiac
-lboxgui
_-lcgicc
_-lrt_-lX11_-lXext
_-lasound
_-lgiac
_-lui
_-lm_-L_$(SRC)/Utils/recipes_-lfftw3_-llapack_-lblas_-ldl_-lgslcblas_-lgmp_-lpthread_-std=c++11_-lboost&system


librairies et include  =
$(shell_root-config_--libs)_$(shell_root-config_--glibs)_-larmadillo

_-D&&LINUX&ALSA&&
_-fPIC
_-g

compilation =  g++_-O2_-std=c++11_$(shell_root-config_--cflags)









	    